@{
    ViewData["Title"] = "Home";
}

<div class="intro-section text-center">
    <img src="~/images/raadnorm3.jpg" alt="Raad's Photo" class="profile-img" />
    <h1>Hello, I'm Raad</h1>
    <p>I am a passionate Computer Science student and developer, dedicated to creating modern and impactful digital solutions.</p>
</div>

<section id="about">
    @Html.Partial("_About")
</section>
