@{
    ViewData["Title"] = "Photography";
}

<section class="photography-section">
    <h2>Photography</h2>
    <p >Besides study, I love to capture the beauty around me. Whenever something attracts my eye, I take out my phone and capture it as memory. Here are a few captures of mine:</p>

    <div class="photo-grid">
        <div class="photo-card">
            <img src="~/images/Pic1.jpg" alt="Pic1" />
        </div>
        <div class="photo-card">
            <img src="~/images/Pic2.jpg" alt="Pic2" />
        </div>
        <div class="photo-card">
            <img src="~/images/Pic3.jpg" alt="Pic3" />
        </div>
        <div class="photo-card">
            <img src="~/images/Pic4.jpg" alt="Pic4" />
        </div>
        <div class="photo-card">
            <img src="~/images/Pic5.jpg" alt="Pic5" />
        </div>
        <div class="photo-card">
            <img src="~/images/Pic6.jpg" alt="Pic6" />
        </div>
        <div class="photo-card">
            <img src="~/images/Pic7.jpg" alt="Pic7" />
        </div>
        <div class="photo-card">
            <img src="~/images/Pic8.jpg" alt="Pic8" />
        </div>
    </div>
</section>
