@{
    ViewData["Title"] = "Skills";
}

<section class="skills-section">
    <h2>Skills</h2>

    <p>Here are some of the technologies and tools I work with:</p>

    <div class="skill-categories">

        <!-- Frontend Development -->
        <div class="skill-category">
            <h3>Frontend Development</h3>
            <div class="skill-list">
                <div class="skill-item">
                    <img src="~/images/html5.svg" alt="HTML5" style="width: 30px; height: 30px;" />
                    <div>HTML</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/css.svg" alt="CSS" style="width: 30px; height: 30px;" />
                    <div>CSS</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/javascript.svg" alt="JAVASCRIPT" style="width: 30px; height: 30px;" />
                    <div>Javascript</div>
                </div>                
                <div class="skill-item">
                    <img src="~/images/typescript.svg" alt="typescript" style="width: 30px; height: 30px;" />
                    <div>Typescript</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/react.svg" alt="react" style="width: 30px; height: 30px;" />
                    <div>ReactJS</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/nextdotjs.svg" alt="nextjs" style="width: 30px; height: 30px;" />
                    <div>NextJS</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/tailwindcss.svg" alt="tailwindcss" style="width: 30px; height: 30px;" />
                    <div>Tailwindcss</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/shadcnui.svg" alt="shadcnui" style="width: 30px; height: 30px;" />
                    <div>ShadcnUI</div>
                </div>
            </div>
        </div>

        <!-- Backend Development -->
        <div class="skill-category">
            <h3>Backend Development</h3>
            <div class="skill-list">
                <div class="skill-item">
                    <img src="~/images/nodedotjs.svg" alt="NodeJS" style="width: 30px; height: 30px;" />
                    <div>NodeJS</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/express.svg" alt="ExpressJS" style="width: 30px; height: 30px;" />
                    <div>ExpressJS</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/postman.svg" alt="Postman" style="width: 30px; height: 30px;" />
                    <div>Postman</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/fastapi.svg" alt="FastApi" style="width: 30px; height: 30px;" />
                    <div>ExpressJS</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/drizzle.svg" alt="drizzle" style="width: 30px; height: 30px;" />
                    <div>DrizzleORM</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/clerk.svg" alt="clerk" style="width: 30px; height: 30px;" />
                    <div>Clerk</div>
                </div>
            </div>
        </div>

        <!-- Databases -->
        <div class="skill-category">
            <h3>Databases</h3>
            <div class="skill-list">
                <div class="skill-item">
                    <img src="~/images/mongodb.svg" alt="mongodb" style="width: 30px; height: 30px;" />
                    <div>MongoDB</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/firebase.svg" alt="firebase" style="width: 30px; height: 30px;" />
                    <div>Firebase</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/mysql.svg" alt="mysql" style="width: 30px; height: 30px;" />
                    <div>MySQL</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/prisma.svg" alt="prisma" style="width: 30px; height: 30px;" />
                    <div>Prisma</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/mongoose.svg" alt="mongoose" style="width: 30px; height: 30px;" />
                    <div>Mongoose</div>
                </div>
            </div>
        </div>

        <!-- AI & ML -->
        <div class="skill-category">
            <h3>AI & ML</h3>
            <div class="skill-list">
                <div class="skill-item">
                    <img src="~/images/python.svg" alt="python" style="width: 30px; height: 30px;" />
                    <div>Python</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/scikitlearn.svg" alt="scikitlearn" style="width: 30px; height: 30px;" />
                    <div>Scikitlearn</div>
                </div> 
                <div class="skill-item">
                    <img src="~/images/tensorflow.svg" alt="TensorFlow" style="width: 30px; height: 30px;" />
                    <div>TensorFlow</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/numpy.svg" alt="numpy" style="width: 30px; height: 30px;" />
                    <div>Numpy</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/pandas.svg" alt="pandas" style="width: 30px; height: 30px;" />
                    <div>Pandas</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/kaggle.svg" alt="kaggle" style="width: 30px; height: 30px;" />
                    <div>Kaggle</div>
                </div>
            </div>
        </div>

        <!-- DevOps -->
        <div class="skill-category">
            <h3>DevOps</h3>
            <div class="skill-list">
                <div class="skill-item">
                    <img src="~/images/docker.svg" alt="docker" style="width: 30px; height: 30px;" />
                    <div>Docker</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/github.svg" alt="github" style="width: 30px; height: 30px;" />
                    <div>Github</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/vercel.svg" alt="vercel" style="width: 30px; height: 30px;" />
                    <div>Vercel</div>
                </div>
            </div>
        </div>

        <!-- App Development -->
        <div class="skill-category">
            <h3>App Development</h3>
            <div class="skill-list">
                <div class="skill-item">
                    <img src="~/images/androidstudio.svg" alt="AndroidStudio" style="width: 30px; height: 30px;" />
                    <div>AndroidStudio</div>
                </div>
                <div class="skill-item">
                    <img src="~/images/react.svg" alt="ReactNative" style="width: 30px; height: 30px;" />
                    <div>ReactNative</div>
                </div>
            </div>
        </div>

    </div>
</section>
s